<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jo.dao.JoUserDao">

	<resultMap type="JoUser" id="joUserResultMap">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
	</resultMap>
	
	<insert id="insertUser" parameterType="JoUser">
		insert into jo_user(id,username,password) values (#{id}, #{username}, #{password});
	</insert>
	
	<select id="selectByID" resultMap="joUserResultMap">
		select id,username,password from jo_user where id=#{id}
	</select>
	
	<select id="select" parameterType="JoUser" resultType="JoUser">
		select id,username,password from jo_user 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="username != null">
				username=#{username}
			</if>
			<if test="id != null">
				and id=#{id}
			</if>
		</trim>
	</select>
</mapper>